nav .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 1rem;

  border-bottom: 3px solid var(--green);

  margin-bottom: 2rem;

  box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.05);

  .disconnect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    > * {
      text-wrap: wrap;
    }
  }
}
